/*==========================================================================*/
/*                              H E A D E R                                 */
/*==========================================================================*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 100%;
    width: var(--content-width);
    padding: 20px 0 0;
    transition: all 0.3s ease;
    z-index: 99;

    h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .hd-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .hicon {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    .hd-ablum {
        img {
            width: 24px;
        }
    }

    .hd-mail {
        img {
            width: 28px;
        }
    }
}