/*==========================================================================*/
/*                              H E A D E R                                 */
/*==========================================================================*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 100%;
    width: var(--content-width);
    padding: 20px 0 0;
    transition: all 0.3s ease;
    z-index: 99;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .hd-wrapper {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 55px;
        height: 55px;
        z-index: 1000;

        &.col3 {
            .hicon {
                &:not(.hd-toggle) {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        &.col4 {
            .hicon {
                &:not(.hd-toggle) {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .hicon {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        cursor: pointer;
        background: linear-gradient(135deg, rgb(255 105 108 / 55%), rgb(255 20 66 / 73%));
        border: none;
        transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        img {
            filter: brightness(0) invert(1);
        }

        &.hd-toggle {
            z-index: 10;
            width: 50px;
            height: 50px;

            img {
                width: 26px;
            }
        }
    }

    .hd-toggle.active {
        transform: rotate(45deg);
    }

    /* Sub Buttons */
    .hd-album,
    .hd-mail,
    .hd-sound,
    .hd-record {
        opacity: 0;
        pointer-events: none;
    }

    .hd-album.show,
    .hd-mail.show,
    .hd-sound.show,
    .hd-record.show {
        opacity: 1;
        pointer-events: all;
    }

    .hd-album {
        img {
            width: 24px;
        }
    }

    .hd-mail {
        img {
            width: 28px;
        }
    }

    .hd-sound {
        img {
            width: 28px;
        }
    }

    .hd-record {
        img {
            width: 26px;
        }
    }
}